*{
    margin: 0;
    padding: 0;
    background: #262626;
}
.rate {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: rotateY(180deg);
    display: flex;
    
}
.rate input{
    display: none;

}
.rate label{
    cursor: pointer;
    width: 50px;
   
}
.rate label::before{
    content: '★ ';
    font-size: 60px;
    color:#101010;
    transition: .7s;
}
.rate2 {
    position: absolute;
     top: 45%;
     left: 50%;  
 }
.rate2 .outer{
    position: absolute;
    top:60%;
    left:-3%;
    display: block; 
    width: 65px; 
    height: 13px; 
    background: url(star-rating-sprite.png) 0 0  no-repeat;
    z-index: 1;
   

}
.outer .inner{
    display: block; 
    width: 0%; 
    height: 13px; 
    background: url(star-rating-sprite.png) 0 -13px;
    transition: .7s;
    position: relative;
   
}

.rate2 input{
    display: none;

}
.rate2 label{
    position: relative;
    cursor: pointer;
    width: 60px;
    height: 15px;
    cursor: pointer;
    
   
   
}
.rate2 label::before{
    content: '.';
    font-size: 36px;
    color:transparent;
    transition: .7s;
    position: relative;
    z-index: 2;
}
   



.rate label:hover::before, 
.rate label:hover ~ label::before,
.rate input:checked ~ label::before{
    color:orange;
}

#str1:checked ~ .outer > .inner, #str1:hover ~ .outer > .inner  {
    width: 20%;
}
#str2:checked ~ .outer > .inner , #str2:hover ~ .outer > .inner{
    width: 40%;
}
#str3:checked ~ .outer > .inner , #str3:hover ~ .outer > .inner{
    width: 60%;
}
#str4:checked ~ .outer > .inner , #str4:hover ~ .outer > .inner{
    width: 80%;
}
#str5:checked ~ .outer > .inner, #str5:hover ~ .outer > .inner {
    width: 100%;
}





