*{
    box-sizing: border-box;
}
body{
    align-items: stretch;
    font-family: Arial, Helvetica, sans-serif;
    background: #999;    
    
}

h2{
font-size: 50px;
text-align: center;
}
.popper{
    display: flex;
    height: 150px;
    position: relative;
    justify-content: center;
    align-items: flex-end;
   
}
.letter{
    display: block;
    position: relative;
    font-size: 100px;
    transition: 1s;
}
.letter:hover{
    font-size: 200px;
    color: rgb(240, 140, 9);
    cursor: pointer;
}