*{
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;

}
/*
The top menu way*/
.main-menu{
    position: fixed;
    top: 30px;
    width: 100%;
    background-color: #111;
    

}
.main-menu ul a{
   
    display: block;
    line-height: 50px;
    color: white;
    padding: 10px 15px;
    font-size: 15px;
    
}
.mainm  > li {
    float: left;
}
.mainm  li a:hover{
    background-color: #434343;
}


.mainm  li ul{
    background-color: #111;
    display: none;
    position: absolute;
    min-width: 140px;

}
.mainm li:hover > ul{
    display: block;
}


/*
Side Menu Left
.main-menu{
    position: fixed;
    left: 0;
    width: 250px;
    height: 100%;
    background-color: #111;
}
.main-menu ul a{
    display: block;
    line-height: 50px;
    font-size: 15px;
    color: white;
    padding-left: 40px;  
}
.mainm  li a:hover{
    background-color: #434343;
    
}
.mainm  li ul{
    display: none;
    position: relative;
    left: 50px;
    min-width: 140px;

}
.mainm li:hover > ul{
    display: block;
}*/

/*Side Menu Right
.main-menu{
    position: fixed;
    right: 0;
    width: 250px;
    height: 100%;
    background-color: #111;
}
.main-menu ul a{
    display: block;
    text-align: end;
    line-height: 50px;
    font-size: 15px;
    color: white;
    padding-right: 40px;  
}
.mainm  li a:hover{
    background-color: #434343;
    
}
.mainm  li ul{
    display: none;
    position: relative;
    right: 50px;
    min-width: 140px;

}
.mainm li:hover > ul{
    display: block;
}*/


.styl{
    position: relative;
    left: 400px;
    top: 300px;
    font-size: 20px;
    text-align: left;
}
.styl p{
    font-size: 30px;
}

input:checked + nav{
    width: 250px;
    height: 100%;
    left: 0;
   
}
 input:checked + nav ul>li{
    float: none;
}
 input:checked + nav ul a{
padding: 0 0 0 40px;
}
input:checked + nav ul li ul{
    position: relative;
    left: 50px;
}

